h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(250, 248, 216);
    text-align      : center;
    padding-left    : 42%;
    padding-right   : 42%;
}

button {

    border-color    : whitesmoke;
    color           : whitesmoke;
    background-color: rgb(115, 207, 92);
    font-size       : large;

    padding       : 10px;
    padding-top   : 5px;
    padding-bottom: 5px;
    border-radius : 10px;


}

h3 {

    color           : whitesmoke;
    background-color: rgb(115, 207, 92);
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : large;


    padding       : 10px;
    padding-left  : 20%;
    padding-right : 20%;
    padding-top   : 5px;
    padding-bottom: 5px;
    border-radius : 10px;
    border-color  : whitesmoke;

}

h3.type1 {
    border          : 1px solid;
    border-color    : rgb(163, 163, 163);
    color           : rgb(104, 104, 104);
    background-color: whitesmoke;
}

h3.type2 {
    border          : 1px solid;
    border-color    : rgb(163, 163, 163);
    color           : rgb(104, 104, 104);
    background-color: whitesmoke;
}

img.poke {
    max-width: 30%;
}

h3.num {
    background-color: rgb(158, 155, 141);
}